section {
	display: block;
	min-height: 500px;
	width: 100vw;
}
section#header {
	background: #EF3D59;
}
section#content {
	background: #344E5C;
	height: 100vh;
}
section#footer {
	background: #4AB19D;
}
nav#topnav {
	display: flex;
	top:500px;
	position: fixed;
	width: 100vw;
	background: #EFC958;
	height: 50px;
}
nav#topnav img#scroll-logotype {
	width: 90px;
	height: 30px;
	background: #fff;
	margin: 10px 30px;
	transition: 0.43s;
}
nav#topnav ul#top-menu-standart {
	position: absolute;
	right: 50%;
	transform: translateX(50%);
	display: flex;
	transition: 0.43s;
}
nav#topnav ul#top-menu-standart li {
	height: 30px;
	margin: 10px 5vw;
}
nav#adaptivenav {
	top: 0;
	left: 0;
	position: fixed;
	background: #EFC958;
	width: 5vw;
	height: 5vw;
}

section#header div#header-logotype img {
	display: block;
	width: 30vw;
	height: 10vw;
	position: absolute;
	left: 50%;
	top: 5vw;
	transform: translateX(-50%);
	background: #fff;
}

@media screen and (max-width: 768px) {
	nav#topnav {
		display: none;
	}
	nav#adaptivenav { display: block; }
}