section#content {
	display: flex;
	width: 100vw;
	min-height: 400px;
	background: linear-gradient(to bottom right, #900c3e, #ff2525);
	position: relative;
	z-index: 990;
}
section#content nav {
	display: block;
	position: relative;
	width: 35%;
	background: rgba(1,1,1,0.3);
	box-shadow: inset 0px 0px 20px 5px rgba(1,1,1,0.3);
}
section#content nav ul#list {
	/*width: 80%;*/
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}
section#content nav ul#list li {
	padding: 20px 0px;
	transition: 0.3s;
}
section#content nav ul#list li:hover {
	background: rgba(200,200,200,0.15);
}
section#content nav ul#list li div#cont {
	width: 80%;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
}
section#content nav ul#list li div#icon {
	width: 50px;
	height: 50px;
	border-radius: 100%;
	position: relative;
	border: 3px solid #ccc;
}
section#content nav ul#list li div#icon i.fa {
	position: absolute;
	font-size: 25px;
	transform: translate(-50%,-50%);
	top: 50%;
	left: 50%;
	color: #ccc;
}
section#content nav ul#list li strong {
	line-height: 56px;
	padding-left: 10px;
	color: #ccc;
	font-size: 20px;
}
section#about {
	width: 100vw;
	min-height: 150px;
	background: #900c3e;
	box-shadow: 0px 0px 20px 5px rgba(1,1,1,0.3);
	z-index: 999;
	position: relative;
}
section#about div#content {
	width: 80%;
	position: relative;
	transform: translateX(-50%);
	left: 50%;
	display: flex;
	padding: 30px 0px;
}
/*section#about div#content div#icons {max-width: 128px;}*/
section#about div#content div#icons div#botAvatar {
	margin: 0 auto;
	width: 128px;
	height: 128px;
	border-radius: 100%;
	border: 2px solid #fff;
	background: url('https://cdn.discordapp.com/avatars/513342687978586143/2b1f5698adc6dc477477f812981839e6.png?size=256') center center no-repeat;
	background-size: 100%;
}
section#about div#content div#icons div#developers b {text-align:center;display:block;padding-top:20px;padding-bottom: 10px;color: #fff;text-transform: uppercase;}
section#about div#content div#icons div#developers ul#list {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
section#about div#content div#icons div#developers ul#list li {
	display: flex;
}
section#about div#content div#icons div#developers ul#list li div#user {
	width: 40px;
	height: 40px;
	border-radius: 100%;
	border: 1px solid #fff;
	background: url('https://cdn.discordapp.com/avatars/352757988567678976/018c0c881dfc2c4bf808a12968785ffe.png?size=256') center center no-repeat;
	background-size: 100%;
}
section#about div#content div#icons div#developers ul#list li span {
	display: flex;
	margin-left: 15px;
	font-size: 20px;
	color:#fff;
	line-height: 40px;
}
span p {
	color: #ccc;
}
section#about div#content div#description {
	color: #fff;
	padding-left: 25px;
}
section#about div#content div#description span {
	display: block;
	padding-top: 20px;
	font-size: 25px;
}